
@font-face {
    font-family: "AquaPlaygroundRegular";
    src: url('../fonts/Lato-Regular.ttf'); 
}

body {
    font-family: AquaPlaygroundRegular, sans-serif; 
    background-color: hsl(0deg, 0%, 97%);
}

div, input, select, button {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0 0.25em 0;
}

p {
    margin: 0 0 0.25em 0;
}

button, select, input {
    font-family: AquaPlaygroundRegular, sans-serif; 
}

input[type=text], textarea {
    padding: 0.25em;
    border-radius: 0.5em;
    border: 2px solid grey;
    flex: 1;
}

input[type=checkbox] {
    width: 1.28em;
    height: 1.28em;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {  
    font-family: AquaPlaygroundRegular, sans-serif; 
    outline: 1px solid hsl(342deg, 48%, 42%);
}

@keyframes loading-fade-in {
    0% { opacity: 0; }
    10% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes loading-fade-in-instant {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes loading-fade-in-delay-50 {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-in-with-grow {
    0% { opacity: 0; transform: scaleY(0)}
    100% { opacity: 1; transform: scaleY(1)}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(359deg);}
}

.spin {
    animation: spin 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(40);
}

.loading-fade-in {
    animation: loading-fade-in 7s;
}

.loading-fade-in-fast {
    animation: loading-fade-in-instant 3s;
}

.loading-fade-in-delay-50-fast {
    animation: loading-fade-in-delay-50 3s;
}

.fade-in-with-grow-fast {
    transform-origin: bottom center;
    animation: fade-in-with-grow 1s;
}

.playground-button {
    position: relative;
    z-index: 10;
    min-width: 7em;
    padding: 0.2em 0.8em;
    margin: 0 0.05em;
    border-radius: 0.4em;
    border-width: 1px 0 0 1px;
    font-size: 0.9em;
    min-height: 2.5em;
    background-image: linear-gradient(0deg, transparent 0%, hsl(342deg, 100%, 50%, 0.8) 100%);
    background-color: hsl(342deg 70% 43%);
    border-color: hsl(342deg, 50%, 50%);
    color: white;
}

.er-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.er-header-details {
    display: flex;
    align-items: center;
}

.er-header-title {
}

.er-sub-title {

}

.er-header-controls {
    color: hsla(340deg, 75%, 30%);
}

.er-fluence-connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0.25em;
}

.er-fluence-connect-panel {
    display: flex;
}

.er-fluence-connect-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.er-fluence-connect-text {
    margin-right: 0.25em;
}

.er-form-row {
    display: flex;
    margin-bottom: 0.25em;
}

.er-form-label {
    flex: 0 1 10em;
    margin-right: 0.5em;
    word-break: break-word;
}

.er-form-value {
    flex: 2 1 90%;
    display: flex;
}

.er-form-label-50 {
    flex: 1 1;
}

.er-form-value-50 {
    flex: 1 1;
}

.er-remote-panel {
    display: flex;
}

.er-remote-panel-controls {
    flex: 1;
}

.er-remote-panel-info {
    flex: 1;
    padding: 1em;
}

.er-remote-controls {
    border-radius: 1em;
    border: 2px solid hsl(0deg, 0%, 80%);
    padding: 1em;
}

.er-clickable {
    cursor: default;
    padding: 0.1em 0;
    margin: 0.1em 0;
    text-decoration: underline;
    text-decoration-color: hsl(0deg, 0%, 70%);
}

.er-clickable:hover {
    background-color: hsl(0deg, 0%, 80%);
}

.er-features {
    display: flex;
    flex-wrap: wrap;
}

.er-feature {
    display: flex;
    flex-direction: column;
    justify-content: top;
    box-sizing: border-box;
    flex: 1;
    border: 1px solid hsl(0deg, 0%, 70%);
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.2em;
    min-width: 32%;
    max-width: 32%;
    box-shadow: 2px 0px 4px hsl(0deg, 0%, 85%);
    background-color: hsl(0deg, 0%, 99%);
}

.er-hash {
    font-family: monospace;
}

.er-feature-50 {
    min-width: 49%;
    max-width: 49%;
}

.er-feature-title {
    text-transform: uppercase;
    padding-bottom: 0.25em;
}

.er-feature-controls {
}

.er-feature-output {
    padding: 0.5em 0;
    word-break: break-all;
}

.er-header-logo {
    width: 3em;
    height: 3em;
}

.er-tabs {
    display: flex;
    border-bottom: 2px solid hsl(342deg 70% 83%);
    margin: 0.5em 0.5em;
    user-select: none;
}

.er-tab {
    padding: 1em 2em;
    color: white;
    background-color: hsl(342deg 0% 43%);
}

.er-tab-active {
    background-color: hsl(342deg 70% 43%);
}

.er-group-tabs {
    display: flex;
    border-bottom: 2px solid hsl(342deg 70% 83%);
    margin: 0.5em 0.5em;
    user-select: none;
}

.er-group-tab {
    padding: 0.4em 1.2em;
    color: white;
    background-color: hsl(342deg 0% 43%);
}

.er-group-tab-active {
    background-color: hsl(342deg 70% 43%);
}

.er-group-panel {
    justify-content: top;
    box-sizing: border-box;
    border: 1px solid hsl(0deg, 0%, 70%);
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.2em;
    box-shadow: 2px 0px 4px hsl(0deg, 0%, 85%);
    background-color: hsl(0deg, 0%, 99%);
    min-height: 10em;
}

.er-group-panel-content {
    margin: 1em;
}

.er-break-long-word {
    word-break: break-all;
}

.er-message-log {
    width: 100%;
}

.er-message-log th {
    text-align: left;
    padding: 0.1em 0.4em;
}

.er-message-log td {
    text-align: left;
    padding: 0.1em 0.4em;
}

.aqex-modal-panel {
    min-height: 12em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aqex-modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.aqex-modal-button {
    margin: 0.5em;
}

.aqex-modal-title {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    padding: 0.2em 1em;
    margin-bottom: 0.5em;
    justify-content: space-between;
    border-radius: 0.5em 0.5em 0.2em 0.2em;
    background-color: hsl(338deg 8% 25%);
    color: white;
    background-image: linear-gradient(269deg, transparent 0%, hsl(342deg 48% 42%) 99%, transparent 100%);
    font-size: 0.9em;    
}

.aqex-modal-heading {
    padding: 0;
}

.er-message-entry-panel {
    display: flex;
    width: 70%;
    padding: 0.5em;
    margin: 0.25em 0;
    border: 1px solid hsl(0deg, 0%, 85%);
}

.er-message-entry {
    flex: 1;
}

.er-account-link-panel {
    min-height: 12em;
    padding: 0 1em;
    width: 28em;
}

.er-p-spaced-2 {
    margin-bottom: 1em;
}

.er-link-like {
    color: hsl(200, 50%, 50%);
    text-decoration: underline;
    cursor: default;
    display: inline;
}

.er-link-like:hover {
    color: lightgrey;
}

.playground-button {
    position: relative;
    z-index: 10;
    min-width: 7em;
    padding: 0.2em 0.8em;
    margin: 0 0.05em;
    border-radius: 0.4em;
    border-width: 1px 0 0 1px;
    font-size: 0.9em;
    min-height: 2.5em;
    background-image: linear-gradient(0deg, transparent 0%, hsl(342deg, 100%, 50%, 0.8) 100%);
    background-color: hsl(342deg 70% 43%);
    border-color: hsl(342deg, 50%, 50%);
    color: white;
}

.playground-run-button {
    float: right;
    border-radius: 2em 0.4em 2em 0;
    margin-left: 0.5em;
}

.playground-save-button {
    min-width: initial;
    padding: .375rem .75rem;
    background-image: linear-gradient(0deg, transparent 0%, hsl(120deg, 100%, 40%, 0.8) 100%);
    background-color: hsl(122deg 70% 33%);
    border-color: hsl(122deg, 50%, 40%);
    color: white;
}

.playground-icon-button {
    min-width: initial;
}

@media (max-width: 992px) {
    .er-header {
        font-size: 0.9em;
        flex-direction: column;
    }
    .tiny-hide {
        display: none;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 0.9em;
    }
    .er-remote-panel {
        width: 100%;
    }
    .er-feature {
        min-width: 100%; 
        max-width: 100%; 
    }
}

@media (max-width: 576px) {
    .er-header {
        flex-direction: column;
        font-size: 0.9em;
    }
}